body{

    background:red;
    color:white;
    }
    h1 {
    font-size: 70px ;
    }
    span {
        padding: 12px;
        display: inline;
    }
   p {
       font-style: italic;
   }

   #container {
       width: 980px;
       height: 150px;
       padding: 10px;
       display: inline-block;
       background-color: tomato;
    }

    .photo { 
        width: 250px;
        height: 250px;
        padding: 10px;
        float: left;
        background-color:  tomato;

    }

    #photo-1 {
        background-color:aqua;
    }

    